{% include 'template/App.twig' %}



<p></p><br>
<p></p><br>


<div class="containerAboutUs">


      <div class="Creator">
          <div class="Participant"><!--Gilgamesh-->
            <img src="./application/public/creator/enmanuel.jpg" alt="Enmanuel-Imagen">
            <h2>Enmanuel Reynoso</h2>
            <h3>2015-2917</h3>
            <hr>
            <h5>Yo soy el rey, nadie más.</h5>
          </div>

          <div class="Participant"><!--Felix-->
            <img src="./application/public/creator/felix.jpg" alt="Felix-Imagen">
            <h2>Felix Garcia</h2>
            <h3>2015-3006</h3>
            <hr>
            <h5>El supremo arte de la guerra es doblegar al enemigo sin luchar.</h5>
          </div>

          <div class="Participant"><!--Kevin-->
            <img src="./application/public/creator/kevin.jpg" alt="Kevin-Imagen">
            <h2>Kevin Mago</h2>
            <h3>2015-3169</h3>
            <hr>
            <h5>Guerras vienen y van pero mi soldados seran eternos</h5>
          </div>

          <div class="Participant"><!--Franger-->
            <img src="./application/public/creator/franger.jpg" alt="Franger-Imagen">
            <h2>Franger Ramirez</h2>
            <h3>2015-3008</h3>
            <hr>
            <h5>Nunca huyas de tus compromisos. Aunque el leopardo sea velos y los canguros salten alto, se la tortuga que a su paso supera la prueba.</h5>
          </div>
      </div>
      <div class="infoMV">
        <div class="mision">
          <h2>Mision</h2>
          <p>Entregar un buen proyecto</p>
          <p>Demostrar nuestras capacidades</p>
        </div>
        <div class="vision">
          <h2>Vision</h2>
          <p>Pasar la materia</p>
          <p>No tomar esta materia el proximo cuatrimestre</p>
        </div>
      </div>


</div>
