{% extends 'template/App.twig' %}

{% block imgProfile %}

  <div class="col-md-3">
    <p class="lead">Image perfil??</p>
    <div class="list-group">
      <img class="img-responsive" src="http://placehold.it/250x300" alt="">
    </div>
</div>

{% endblock %}

{% block ChildContent %}

{% endblock %}

{% block ds %}
  <div class="col-md-1">
    <button type="button" class="btn btn-success" name="button">ssss</button>
  </div>
{% endblock %}
